<div class="d-flex">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>


    <!--Fin de Sidebar -->

    <div class="container">

        <div class="row p-3">
            <div class="col">
                <h5>Buscar:</h5>
                <input type="text" class="form-control" placeholder="Buscar gifs...">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate velit impedit fuga quia accusamus vero ipsum eum earum eaque? Quae voluptatum nostrum eum laborum omnis non eos voluptate eius nihil!
            </div>
        </div>

    </div>

</div>
